# Python
__pycache__/
*.py[cod]
*.pyo

# Django stuff
db.sqlite3
*.log
/static/
media/

# Virtual Environment
venv/
env/
ENV/

# Environment variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# PyCharm
.idea/

# Migrations (optional: if you want to exclude them)
# */migrations/*.py
# */migrations/*.pyc
